* {
  margin: 0;
}
.app_header_img {
  object-fit: contain;
}
.app_header {
  background-color: white;
  padding: 20px;
}
.App {
  background-color: #fafafa;
}
.app_signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
