* {
  margin: 0;
}
.app_header_img {
  object-fit: contain;
}
.app_header {
  background-color: white;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 98%;
  margin: 0 auto;
  z-index: 200;
  padding-right: 100px;
}
.App {
  background-color: #fafafa;
}
.app_signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app_post {
  padding: 20px;
}
