.profile_input {
  width: 100%;
  border: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.profile_avatar {
  width: 100px;
  height: 100px;
}
.profile {
  font-family: "Poppins", sans-serif;
}
.profile_edit_btn {
  cursor: pointer;
}
